.stats-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  background-color: #1F2933;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

.stats-navbar {
  background-color: #3E4C59;
  width: 100vw;
  padding: 10px 4rem;
  align-self: flex-start;

  display: flex;
  align-items: center;
}

.stats-navbar-home-link {
  color: #9AA5B1;
  text-decoration: none;
  font-size: 1.5rem;
  align-self: flex-start;
}

.stats-content {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow-y: hidden;
}

.stats-summoner-overview {
  color: #9AA5B1;
  width: 100vw;
  margin: 2rem 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stats-match-history {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 1rem;
  margin-bottom: 2rem;

  overflow-y: auto;
}

.stats-match-history::-webkit-scrollbar {
  width: 0.5rem;
}

.stats-match-history::-webkit-scrollbar-track {
  background: #323F48;
  border-radius: 0.5rem;
}

.stats-match-history::-webkit-scrollbar-thumb {
  background-color: #616E7C;
  border-radius: 0.5rem;
}